# Python
__pycache__/
*.pyc
venv/

# Env files
.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
